@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-futuristic-background text-futuristic-text-primary;
  background-image: radial-gradient(circle at 1px 1px, rgba(136, 146, 176, 0.1) 1px, transparent 0);
  background-size: 20px 20px;
}

/* Definición del estilo de tarjeta de cristal para reutilizar */
.glass-card {
  @apply bg-futuristic-glass border border-futuristic-border rounded-2xl shadow-lg;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}